@model FormBuilderBuilder.Models.DeclarationViewModel

@{
    ViewData["Title"] = "Declaration";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="Declaration">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="govuk-label govuk-label--m" for="PTag">
                    PTag
                </label>
                <div class="govuk-input__wrapper">
                    <input autocomplete="PTag" class="govuk-input govuk-input--width-20" id="PTag" maxlength="250" name="PTag" type="text" value="">
                </div>
                <span asp-validation-for="PTag" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="govuk-label govuk-label--m" for="GoPageSlug">
                    GoPageSlug
                </label>
                <div class="govuk-input__wrapper">
                    <input autocomplete="GoPageSlug" class="govuk-input govuk-input--width-20" id="GoPageSlug" maxlength="250" name="GoPageSlug" type="text" value="">
                </div>
                <span asp-validation-for="GoPageSlug" class="text-danger"></span>
            </div>
            <br />
            <input asp-for="TheJSON" hidden class="form-control" value="@Model.TheJSON" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
