@model FormBuilderBuilder.Models.DeclarationViewModel

@{
    ViewData["Title"] = "Declaration";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Declaration">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PTag" class="control-label"></label>
                <input asp-for="PTag" class="form-control" />
                <span asp-validation-for="PTag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoPageSlug" class="control-label"></label>
                <input asp-for="GoPageSlug" class="form-control" />
                <span asp-validation-for="GoPageSlug" class="text-danger"></span>
            </div>
            <input asp-for="TheJSON" hidden class="form-control" value="@Model.TheJSON" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
