@model FormBuilderBuilder.Models.HomeViewModel

@{
    ViewData["Title"] = "Header";
}


<div class="row">
    <div class="col-md-6">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h2 class="govuk-fieldset__heading">
            Form basics:

        </h2>
        </legend>
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FormName" class="control-label"></label>
                <input asp-for="FormName" class="form-control" />
                <span asp-validation-for="FormName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseURL" class="control-label"></label>
                <input asp-for="BaseURL" class="form-control" />
                <span asp-validation-for="BaseURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstPageSlug" class="control-label"></label>
                <input asp-for="FirstPageSlug" class="form-control" />
                <span asp-validation-for="FirstPageSlug" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Start the form" class="govuk-button" />
            </div>
        </form>
    </div>
</div>

