@model FormBuilderBuilder.Models.PageChoiceViewModel

@{
    ViewData["Title"] = "PageChoice";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="PageChoice">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-fieldset__heading">
                            Add a page:

                        </h2>
                    </legend>

                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input"
                                   type="radio"
                                   value="Textbox"
                                   name="PageChoice"
                                   id="PageChoice-0" />

                            <label class="govuk-label govuk-radios__label"
                                   for="PageChoice-0">
                                Textbox
                            </label>

                        </div>
                    </div>


                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input"
                                   type="radio"
                                   value="TextArea"
                                   name="PageChoice"
                                   id="PageChoice-1" />

                            <label class="govuk-label govuk-radios__label"
                                   for="PageChoice-1">
                                TextArea
                            </label>

                        </div>
                    </div>

                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input"
                                   type="radio"
                                   value="Radio"
                                   name="PageChoice"
                                   id="PageChoice-2" />

                            <label class="govuk-label govuk-radios__label"
                                   for="PageChoice-2">
                                Radio
                            </label>

                        </div>
                    </div>

                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input"
                                   type="radio"
                                   value="FullContactDetails"
                                   name="PageChoice"
                                   id="PageChoice-3" />

                            <label class="govuk-label govuk-radios__label"
                                   for="PageChoice-3">
                                Full Contact Details
                            </label>

                        </div>
                    </div>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input"
                                   type="radio"
                                   value="Endform"
                                   name="PageChoice"
                                   id="PageChoice-99" />

                            <label class="govuk-label govuk-radios__label"
                                   for="PageChoice-99">
                                End form
                            </label>
                        </div>
                    </div>
                    @*

                    <label class="govuk-label govuk-radios__label"
                    for="FullContactDetails">
                    Full Contact Details -
                    </label><input type="radio" name="PageChoice" value="FullContactDetails" />

                    <br />

                    <label class="govuk-label govuk-radios__label"
                    for="NameDetails">
                    Name Details -
                    </label><input type="radio" name="PageChoice" value="NameDetails" />
                    <br />

                    <label class="govuk-label govuk-radios__label"
                    for="Address">
                    Address -
                    </label><input type="radio" name="PageChoice" value="Address" />

                    <br />

                    <label class="govuk-label govuk-radios__label"
                    for="ContactDetails">
                    ContactDetails -
                    </label><input type="radio" name="PageChoice" value="ContactDetails" />

                    <br />
                    <label class="govuk-label govuk-radios__label"
                    for="Summary">
                    Summary -
                    </label><input type="radio" name="PageChoice" value="Summary" />

                    <br />
                    <label class="govuk-label govuk-radios__label"
                    for="Footer">
                    Footer -
                    </label><input type="radio" name="PageChoice" value="Footer" />

                    <br />*@

                    <input asp-for="TheJSON" hidden class="form-control" value="@ViewBag.TheJson" />

                    <span asp-validation-for="PageChoice" class="text-danger"></span>


                    <br />
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>

                </fieldset>
            </div>
           

        </form>
    </div>


    <label class="govuk-label">
        @ViewBag.TheJson
    </label>
    <br />

    <a href="https://qa-formbuilder-origin.smbcdigital.net/preview" target="_blank"> Preview</a>


</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
