@model FormBuilderBuilder.Models.TextareaViewModel

@{
    ViewData["Title"] = "Textarea";
}

<h1>Textarea</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Textarea">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="govuk-label govuk-label--m" for="Title">
                    Title
                </label>
                <div class="govuk-input__wrapper">
                    <input autocomplete="title" class="govuk-input govuk-input--width-20" id="Title" maxlength="100" name="Title" type="text" value="">
                </div>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="govuk-label govuk-label--m" for="PTag">
                    PTag
                </label>
                <div class="govuk-input__wrapper">
                    <input autocomplete="PTag" class="govuk-input govuk-input--width-20" id="PTag" maxlength="250" name="PTag" type="text" value="">
                </div>
                <span asp-validation-for="PTag" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="govuk-label govuk-label--m" for="PageSlug">
                    PageSlug
                </label>
                <div class="govuk-input__wrapper">
                    <input autocomplete="PageSlug" class="govuk-input govuk-input--width-20" id="PageSlug" maxlength="250" name="PageSlug" type="text" value="">
                </div>
                <span asp-validation-for="PageSlug" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="govuk-label govuk-label--m" for="QuestionID">
                    QuestionID
                </label>
                <div class="govuk-input__wrapper">
                    <input autocomplete="QuestionID" class="govuk-input govuk-input--width-20" id="QuestionID" maxlength="250" name="QuestionID" type="text" value="">
                </div>
                <span asp-validation-for="QuestionID" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="govuk-label govuk-label--m" for="Label">
                    Label
                </label>
                <div class="govuk-input__wrapper">
                    <input autocomplete="Label" class="govuk-input govuk-input--width-20" id="Label" maxlength="250" name="Label" type="text" value="">
                </div>
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="govuk-label govuk-label--m" for="CustomValidationMessage">
                    CustomValidationMessage
                </label>
                <div class="govuk-input__wrapper">
                    <input autocomplete="CustomValidationMessage" class="govuk-input govuk-input--width-20" id="CustomValidationMessage" maxlength="250" name="CustomValidationMessage" type="text" value="">
                </div>
                <span asp-validation-for="CustomValidationMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="govuk-label govuk-label--m" for="Hint">
                    Hint
                </label>
                <div class="govuk-input__wrapper">
                    <input autocomplete="Hint" class="govuk-input govuk-input--width-20" id="Hint" maxlength="250" name="Hint" type="text" value="">
                </div>
                <span asp-validation-for="Hint" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="govuk-label govuk-label--m" for="Optional">
                    Optional
                </label>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input"
                               type="radio"
                               value="yes"
                               name="Optional"
                               id="Optional-0" />

                        <label class="govuk-label govuk-radios__label"
                               for="Optional-0">
                            Yes
                        </label>


                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input"
                               type="radio"
                               value="no"
                               name="Optional"
                               id="Optional-1" 
                               checked />

                        <label class="govuk-label govuk-radios__label"
                               for="Optional-1">
                            No
                        </label>


                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <label class="govuk-label govuk-label--m" for="GoPageSlug">
                    GoPageSlug
                </label>
                <div class="govuk-input__wrapper">
                    <input autocomplete="GoPageSlug" class="govuk-input govuk-input--width-20" id="GoPageSlug" maxlength="250" name="GoPageSlug" type="text" value="">
                </div>
                <span asp-validation-for="GoPageSlug" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="govuk-label govuk-label--m" for="MaxLength">
                    Max Length
                </label>
                <div class="govuk-input__wrapper">
                    <input autocomplete="MaxLength" class="govuk-input govuk-input--width-20" id="Label" maxlength="4" name="MaxLength" type="text" value="">
                </div>
                <span asp-validation-for="MaxLength" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label class="govuk-label govuk-label--m" for="DisplayCharacterCount">
                    DisplayCharacterCount
                </label>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input"
                               type="radio"
                               value="yes"
                               name="DisplayCharacterCount"
                               id="DisplayCharacterCount-0" 
                               checked/>

                        <label class="govuk-label govuk-radios__label"
                               for="DisplayCharacterCount-0">
                            Yes
                        </label>


                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input"
                               type="radio"
                               value="no"
                               name="DisplayCharacterCount"
                               id="DisplayCharacterCount-1" />

                        <label class="govuk-label govuk-radios__label"
                               for="DisplayCharacterCount-1">
                            No
                        </label>


                    </div>
                </div>
            </div>
            <br />
           

            <input asp-for="TheJSON" hidden class="form-control" value="@Model.TheJSON" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<script>

    window.onload = function () {
        var ttl = document.getElementById("Title"),
            lbl = document.getElementById("Label");
        pgslg = document.getElementById("PageSlug");
        qstnid = document.getElementById("QuestionID");

        ttl.addEventListener('input', function () {
            lbl.value = ttl.value;
        });

        pgslg.addEventListener('input', function () {
            qstnid.value = pgslg.value.replace("-", "").replace("-", "").replace("-", "").replace("-", "").replace("-", "").replace("-", "").replace("-", "").replace("-", "").replace("-", "");
        });
    };
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
