<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#006666">
    <title>@ViewData["Title"] - FormBuilderBuilder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://design-system.stockport.gov.uk/int/1/smbc-frontend.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/form-builder.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/FormBuilderBuilder.styles.css" asp-append-version="true" />
@*    <script src="~/js/site.js"></script>*@
</head>
<body>
    <div role="navigation">
        <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    </div>

    <partial name="Header" />
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper " id="main-content">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <partial name="Footer" />
    <script type="text/javascript" src="https://design-system.stockport.gov.uk/int/1/smbc-frontend.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
