
<footer class="smbc-footer">
    <div class="govuk-width-container">
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <div class="govuk-footer__meta-custom">
                    &copy;@DateTime.Now.Year Stockport Metropolitan Borough Council
                </div>
                <span class="govuk-footer__licence-description">
                    Built by the <a href="http://www.digitalstockport.info" class="govuk-footer__link">Digital Team</a> of Stockport
                </span>
            </div>
        </div>
    </div>
</footer>